.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.productContainer {
  background-color: #004643;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 10px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  width: 90%;
}

.productImage img {
  border-radius: 10px;
  height: 200px;
  margin: 0 20px;
  object-fit: cover;
  width: 200px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.productInfo :nth-child( 1 ) {
  color: #fffffe;
  font-size: 1.5rem;
  font-weight: 900;
}

.productInfo :nth-child( 2 ) {
  color: #abd1c6;
  font-size: 1.2rem;
  font-weight: 700;
}

.productInfo button {
  background-color: #f9bc60;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #001e1d;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  width: 50%;
}

.addToCart {
  width: 50%;
}

.ratingContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ratingContainer h2 {
  color: #001e1d;
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 20px;
  text-align: center;
}

.emailAndRating {
  display: flex;
  gap: 30px;
  margin: 20px;
}

.ratingContainer label textarea {
  border: none;
  margin-left: 20px;
  width: 100%;
}

.ratingContainer button {
  background-color: #f9bc60;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #001e1d;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  width: 28%;
}
