.productContainer {
  background-color: #004643;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 135px auto 0;
  padding: 20px;
  width: 90%;
}

.product {
  display: flex;
  max-height: 500px;
  width: 100%;
}

.productImage {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-height: 500px;
  min-width: 220px;
  position: relative;
  width: 70%;
}

.productImage svg {
  cursor: pointer;
  font-size: 32px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.productImage img {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  width: 30%;
}

.productInfo svg {
  color: #1c65d1;
  cursor: pointer;
  font-size: 32px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.productStats {
  align-items: center;
  color: #b8aaaa;
  display: flex;
  font-weight: 400;
  justify-items: center;
  margin-bottom: 20px;
}

.productStats hr {
  height: 20px;
  margin: 3px;
}

.productName {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 10px;
}

.paymentMethod {
  color: #3483fa;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.availableQuantity {
  font-size: 17px;
  font-weight: 600;
}

.quantity {
  color: #b8aaaa;
  font-size: 16px;
  margin-bottom: 20px;
}

.addToCart {
  align-self: center;
  background-color: #f9bc60;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #001e1d;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 35px auto 0;
  padding: 20px;
  transition: all 0.4s;
  width: 90%;
}

.addToCart:hover {
  background-color: #f8ac3a;
}

.productAttributes h2 {
  font-weight: 600;
  margin-block: 15px;
  text-align: center;
}

@media ( max-width : 767px ) {

  .product {
    align-items: center;
    flex-direction: column;
    max-height: none;
  }

  .productInfo {
    width: 100%;
  }

  .productAttributes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

}
